---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

1. [Survey of Body Doubling]()
2. [Digital Ethnography of ADHD Social Media]()
3. [ADHD Content Creator and Clinician Interviews]()
4. [Crowdsourcing Classroom Accessibility Improvements]()
5. [Comparing App Recommendation Systems]()
6. [Mental Health App Content Analysis]()
7. [Product Unboxing Behaviors]()
8. [Data Visualization Explorations]()
9. [Recommender System Conversation Design]()
10. [Uncovering Target Audience Behaviors and Needs]()

   
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

