---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

1. [Survey of Body Doubling](https://tessaeagle.github.io/portfolio/portfolio-0/)
2. [Digital Ethnography of ADHD Social Media](https://tessaeagle.github.io/portfolio/portfolio-00/)
3. [ADHD Content Creator and Clinician Interviews](https://tessaeagle.github.io/portfolio/portfolio-001/)
4. [Crowdsourcing Classroom Accessibility Improvements](https://tessaeagle.github.io/portfolio/portfolio-1/)
5. [Comparing App Recommendation Systems](https://tessaeagle.github.io/portfolio/portfolio-2/)
6. [Mental Health App Content Analysis](https://tessaeagle.github.io/portfolio/portfolio-3/)
7. [Product Unboxing Behaviors](https://tessaeagle.github.io/portfolio/portfolio-301/)
8. [Data Visualization Explorations](https://tessaeagle.github.io/portfolio/portfolio-31/)
9. [Recommender System Conversation Design](https://tessaeagle.github.io/portfolio/portfolio-32/)
10. [Uncovering Target Audience Behaviors and Needs](https://tessaeagle.github.io/portfolio/portfolio-41/)

   
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

