---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8FHZ8LDQ0C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8FHZ8LDQ0C');
</script>

{% include base_path %}

<ol>
<li><a href="https://tessaeagle.github.io/portfolio/portfolio-0/">Survey of Body Doubling</a></li>
<li><a href="https://tessaeagle.github.io/portfolio/portfolio-00/">Digital Ethnography of ADHD Social Media</a></li>
<li><a href="https://tessaeagle.github.io/portfolio/portfolio-001/">ADHD Content Creator and Clinician Interviews</a></li>
<li><a href="https://tessaeagle.github.io/portfolio/portfolio-1/">Crowdsourcing Classroom Accessibility Improvements</a></li>
<li><a href="https://tessaeagle.github.io/portfolio/portfolio-2/">Comparing App Recommendation Systems</a></li>
<li><a href="https://tessaeagle.github.io/portfolio/portfolio-3/">Mental Health App Content Analysis</a></li>
<li><a href="https://tessaeagle.github.io/portfolio/portfolio-301/">Product Unboxing Behaviors</a></li>
<li><a href="https://tessaeagle.github.io/portfolio/portfolio-31/">Data Visualization Explorations</a></li>
<li><a href="https://tessaeagle.github.io/portfolio/portfolio-32/">Recommender System Conversation Design</a></li>
<li><a href="https://tessaeagle.github.io/portfolio/portfolio-41/">Uncovering Target Audience Behaviors and Needs</a></li>
</ol>
   
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

